/* Header 组件的样式 */
.header {
  /* background-color: rgba(61, 54, 93, 0.9); */
  background: linear-gradient(to bottom, rgba(61, 54, 93, 0.8), transparent);
  margin: 1px;
  padding-left: 0px;
  border-radius: 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.logo-link img {
  height: 100px;
  padding: 12px; 
}

.title {
  font-size: 20px;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
  /* -webkit-animation: light 1.5s ease-in-out infinite alternate; // 闪爆眼睛动画，可开
}
@-webkit-keyframes light {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0000ff,
      0 0 70px #8484d0, 0 0 80px #0000ff, 0 0 100px #0000ff, 0 0 150px #0000ff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0000ff,
      0 0 35px #0000ff, 0 0 40px #0000ff, 0 0 50px #0000ff, 0 0 75px #0000ff;
  } */
}

.nav-list {
  list-style: none; /* 移除列表样式 */
  display: flex; /* 使用 flex 布局 */
  padding-right: 100px;
}

.nav-item {
  padding: 20px; /* 导航项之间的间距 */
}

.nav-link {
  text-decoration: none; /* 移除下划线 */
  color: white; /* 文字颜色 */
  font-size: 20px;
  transition: color 0.1s ease;
}

.nav-link:hover {
  color: rgba(61, 54, 93);
}

.nav-link.active {
  color: rgba(61, 54, 93); /* 你可以根据需要更改颜色 */
  font-weight: bold;
}
