
/* 轮播点容器样式 */
.alice-carousel__dots {
  position: absolute; /* 使用绝对定位 */
  bottom: 20px; /* 距离底部的距离 */
  left: 50%; /* 水平居中 */
  transform: translateX(-50%); /* 使用transform来调整位置，使其完全居中 */
  display: flex; /* 使用flex布局 */
  justify-content: center; /* 水平居中轮播点 */
  width: auto; /* 自适应宽度 */
  padding: 0; /* 移除默认的padding */
  margin: 0; /* 移除默认的margin */
  list-style: none; /* 移除列表样式 */
}

/* 单个轮播点样式 */
.alice-carousel__dots-item {
  background-color: #ccc; /* 改变圆点的背景色 */
  border: 1px solid #fff; /* 给圆点添加白色边框 */
  width: 12px; /* 调整圆点的宽度 */
  height: 12px; /* 调整圆点的高度 */
  border-radius: 50%; /* 使圆点变成圆形 */
  margin: 0 5px; /* 调整圆点之间的间距 */
  cursor: pointer; /* 鼠标悬停时显示指针 */
}

/* 激活状态的轮播点样式 */
.alice-carousel__dots-item.alice-carousel__dots-item--active {
  background-color: #333; /* 改变激活状态圆点的背景色 */
}

/* 按钮容器样式 */
.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  position: absolute; /* 绝对定位，以便放置在轮播图的左右两侧 */
  top: 50%; /* 垂直居中 */
  transform: translateY(-50%); 
  z-index: 10; /* 确保按钮在轮播图上方 */
}

/* 按钮样式 */
.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
  background-color: rgba(255, 255, 255, 0.5); /* 半透明背景 */
  border: none; /* 无边框 */
  padding: 10px; /* 按钮大小 */
  border-radius: 50%; /* 圆形按钮 */
  cursor: pointer; /* 鼠标悬停时显示指针 */
  transition: background-color 0.3s; /* 过渡效果 */
}

/* 鼠标悬停时的按钮样式 */
.alice-carousel__prev-btn-item:hover,
.alice-carousel__next-btn-item:hover {
  background-color: rgba(255, 255, 255, 1); /* 鼠标悬停时更不透明 */
}

/* 按钮禁用时的样式 */
.alice-carousel__prev-btn-item:disabled,
.alice-carousel__next-btn-item:disabled {
  background-color: rgba(255, 255, 255, 0.3); /* 禁用时更透明 */
  cursor: default; /* 禁用时鼠标不显示指针 */
}
.alice-carousel__prev-btn {
  right: 70%; /* 水平居中 */
  transform: translateX(-50%) translateY(-50%); /* 水平方向上移动自身宽度的50%来居中 */
}

.alice-carousel__next-btn {
  left: 70%; /* 水平居中 */
  transform: translateX(50%) translateY(-50%); /* 水平方向上移动自身宽度的50%来居中 */
}


.alice-carousel {
  width: 100vw; /* 视口宽度的100% */
  height: 100vh; /* 视口高度的100% */
}
.alice-carousel__stage-item img {
  width: 100%; /* 图片宽度填满容器 */
  height: 100%; /* 图片高度填满容器 */
  object-fit: cover; /* 保持图片宽高比，裁剪超出部分 */
}